body{
    background-image:url(photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
#clockContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    

}
#clock{
    font-family: monospace;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    color:white;
    backdrop-filter: blur(5px);
    background-color: rgba(185, 138, 50, 0.171);
    width:100%;

}